.keyboard {
    display: flex;
    flex-wrap: wrap;
    width: 680px;
    border: 2px solid black;
    &__btn {
        min-width: 32px;
        height: 32px;
        margin: 5px;
        &_enter {
            width: 100px;
        }
        &_lshift {
            width: 100px;
        }
        &_rshift {
            width: 78px;
        }
        &_space {
            width: 240px;
        }
    }
}
